.container {
    flex: 5;
}

.title {
    margin: 50px 0;
    font-size: 28px;
}

.img {
    object-fit: cover;
}

.textBox {
    flex: 1;
    flex-direction: column;
    gap: 30px;
}


@media screen and (max-width: 768px) {

    .title {
        font-size: 20px;
    }

}
